* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.slider {
    position: relative;
}

.slide {
    padding-right: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, 4vw);
    grid-gap: 30px;
}

.wrapper .wrap:first-child {
    grid-row-start: 2;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 3;
}

.wrapper .wrap:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
}

.wrapper .wrap:last-child {
    grid-row-start: 7;
    grid-row-end: 16;
    grid-column-start: 3;
    grid-column-end: 6;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next {
    width: 70px;
    height: 70px;
    position: absolute;
    border: 2px solid green;
    top: 105%;
    left: 100px;
    background-color: #fff;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%) rotate(-45deg);

}

.prev {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 105%;
    background-color: #fff;
    transform: translateY(-50%);
    border: 2px solid green;
    cursor: pointer;
    z-index: 1;
}

.prev::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%) rotate(45deg);

}
