@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Montserrat',
sans-serif;
font-family: 'Roboto',
sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

a {
    display: inline-block;
    transition: all .4s;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

h1,
h2 {
    font-size: 42px;
    line-height: 1.2;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.brown_button {
    background: #9A8464;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 22px 40px;
    min-width: 300px;
    text-align: center;
}

.brown_button:hover {
    background: #776244;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2F2E2F;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

header a {
    color: #fff;
}

header a:not(.logo):hover {
    opacity: .6;
}

header .logo {
    position: absolute;
    left: 20px;
    top: 0;
    width: 170px;
    height: 160px;
}

header ul {
    list-style: none;
    display: flex;
    padding-left: 260px;
}

header ul a {
    padding-left: 15px;
    padding-right: 15px;
}

header .transparent_button {
    padding: 12px 50px;
    font-size: 14px;
    letter-spacing: 0.02em;
    border: 1px solid #fff;
}

.banner {
    background-image: url(/images/image%2036.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 146px;
}

.banner .container {
    display: flex;
    align-items: center;
}

.banner .left {
    width: 50%;
    color: #191719;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner .right {
    width: 50%;
}

.banner h1 {
    margin-bottom: 18px;
}

.banner p {
    font-size: 22px;
    margin-bottom: 28px;
}

.about_us {
    padding-bottom: 130px;
    display: flex;
    align-items: flex-end;
    color: #191719;
}

.about_us .left {
    width: 50%;
    padding-right: 80px;
    position: relative;
}

.about_us .left::before {
    content: '';
    width: 50vw;
    z-index: -1;
    height: 50%;
    background: #2F2E2F;
    position: absolute;
    bottom: 0;
    right: 100%;
    transform: translateX(200px);
}

.about_us .right {
    width: 50%;
    padding-left: 80px;
}

.about_us h2 {
    line-height: 1.2;
    margin-bottom: 30px;
}

.about_us p {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 16px;
}

.about_us .transparent_button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    padding: 20px 40px;
    color: #191719;
    border: 1px solid #000;
    font-weight: 600;
    margin-top: 30px;
}

.about_us .transparent_button:hover {
    opacity: .6;
}

.testimonials {
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials h2 {
    margin-bottom: 105px;
}

.testimonials .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.testimonials .item {
    width: calc(33.333333% - 20px);
    background: #2F2E2F;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    color: #fff;
    padding: 69px 40px 62px;
    position: relative;
}

.testimonials .face {
    position: absolute;
    width: 90px;
    height: 90px;
    background: #C4C4C4;
    border-radius: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.testimonials .date {
    font-size: 12px;
    line-height: 1.3;
    color: #C4C4C4;
    margin-bottom: 3px;
}

.testimonials h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 4px;
}

.testimonials .social {
    display: flex;
    font-size: 14px;
    margin-bottom: 14px;
}

.testimonials .social a {
    padding-left: 10px;
}

.testimonials .social a path {
    transition: all .4s;
}

.testimonials .social a:hover path {
    fill: #fff;
}

.testimonials .text {
    font-size: 14px;
    line-height: 1.3;
}

.news {
    background-color: #2F2E2F;
    padding-top: 130px;
    padding-bottom: 130px;
}

.news h2 {
    text-align: center;
    margin-bottom: 60px;
    color: #fff;
}

.news .items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.news .item {
    width: calc(25% - 27px);
    background-color: #fff;
    position: relative;
}

.news .item a {
    position: absolute;
    left: 30px;
    font-size: 14px;
    background: #9A8464;
    padding: 4px 10px;
    color: #fff;
    top: 30px;
}

.news .item > img {
    margin-bottom: 30px;
    position: relative;
}

.news .item::before {
    content: '';
    position: absolute;
    left: 50%;
    z-index: 9999;
    top: 80px;
    width: 0;
    height: 0;
    transform: translateX(-20px);
    border-style: solid;
    border-width: 27px 0 27px 47px;
    border-color: transparent;
    border-left-color: #fff;
    opacity: 0;
    transition: all .4s;
}

.news .item:hover::before {
    opacity: 1;
}

.news .item p {
    padding-left: 30px;
    padding-right: 26px;
    margin-bottom: 30px;
}

.news .name {
    padding-left: 30px;
    padding-right: 26px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.news .item h3 {
    font-size: 15px;
    line-height: 22px;
    padding-left: 10px;
}

.news strong {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 26px;
    display: block;
}

@media screen and (max-width:1100px) {
    h2 {
        font-size: 36px;
    }

    header ul {
        padding-left: 200px;
    }

    .about_us .left {
        padding-right: 40px;
    }

    .about_us .right {
        padding-left: 40px;
    }
}

@media screen and (max-width:992px) {
    header ul {
        position: fixed;
        right: 0;
        flex-direction: column;
        top: 84px;
        background: #2F2E2F;
        padding: 40px;
        height: calc(100vh - 84px);
        transform: translateX(100%);
        transition: all .4s;
    }

    header ul.active {
        transform: translateX(0);
    }

    header ul a {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header .container {
        justify-content: center;
    }

    header .burger {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .burger span {
        width: 40px;
        height: 1px;
        background-color: #fff;
        position: relative;
        transition: all .4s;
    }

    header .burger.active span {
        width: 0;
    }

    header .burger span::before,
    header .burger span::after {
        content: '';
        width: 40px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 0;
        transition: all .4s;
    }

    header .burger span::before {
        transform: translateY(-9px) translateX(-50%);
    }

    header .burger.active span::before {
        transform: translateY(0) translateX(-50%) rotate(45deg);
    }

    header .burger span::after {
        transform: translateY(9px) translateX(-50%);
    }

    header .burger.active span::after {
        transform: translateY(0) translateX(-50%) rotate(-45deg);
    }

    .banner .container {
        flex-wrap: wrap;
    }

    .banner .left,
    .banner .right,
    .about_us .left,
    .about_us .right {
        width: 100%;
    }

    .banner {
        padding-top: 200px;
    }

    .banner .left {
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
    }

    .banner .right {
        display: flex;
        justify-content: center;
    }

    .banner img {
        max-width: 500px;
    }

    .about_us {
        flex-direction: column-reverse;
        padding-bottom: 0;
    }

    .about_us .right {
        padding-left: 0;
        padding-top: 60px;
    }

    .about_us .left {
        display: flex;
        justify-content: center;
    }

    .about_us .left img {
        max-width: 500px;
    }

}

@media screen and (max-width:600px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    header .logo {
        width: 60px;
        height: 60px;
    }

    header .logo img {
        width: 100%;
    }

    header ul {
        width: 100%;
        align-items: center;
    }

    .banner {
        padding-top: 120px;
    }

    .banner p {
        font-size: 16px;
    }

    .about_us h2 {
        margin-bottom: 16px;
    }

    .about_us p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .about_us .transparent_button {
        margin-top: 10px;
    }
}










.banner_books {
    background-image: url(/images/BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 146px;
}

.banner_books .right img {
    margin-bottom: 71px;
}

.category .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.category h2 {
    margin-top: 130px;
    margin-bottom: 60px;
}

.category table {
    width: 100%;
    height: 60px;
    margin-bottom: 60px;
    border-collapse: collapse;
}

.category td {
    width: 235px;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #191719;
    letter-spacing: 0.02em;
    font-weight: 600;
    transition: all .4s;
}

.category td:hover {
    border: 1px solid #9A8464;
    color: #fff;
    background: #9A8464;
}

.category .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.category .grid_item {
    margin-bottom: 35px;
}

.category .grid p {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #C4C4C4;
}

.category .grid h5 {
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 133%;
    color: #191719;
}

.category .grid span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 80%;
    color: #191719;
}

.category .brown_button {
    width: 300px;
    margin-top: 30px;
    text-align: center;
}

.container .container_brown_button {
    display: flex;
    justify-content: center;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 865px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/image%2069.png);
}

.address h2 {
    margin-top: 87px;
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #191719;
}

.address .container_common {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    height: 556px;
    background-color: #fff;
}

.container_common .container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 55px;
}


.address .item h5 {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 21px;
    color: #191719;
}


.address .item p {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 30px;
    color: #191719;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 217px;
    background-color: #2F2E2F;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 999;
}

footer .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo {
    padding-right: 80px;
}

footer .footer-menu {
    display: flex;
    justify-content: space-between;
    padding-right: 181px;
    padding-left: 46px;
}

footer .footer-menu .menu_1 {
    width: 66px;
}


footer .footer-menu .menu_2 {
    padding-left: 60px;
}

footer p {
    font-size: 16px;
    line-height: 225%;
    color: #FFFFFF;
    opacity: 0.6;
}

footer .container_1 {
    padding-right: 215px;
}

footer .transparent_button {
    display: flex;
    align-items: flex-start;
    color: #fff;
    padding: 12px 50px;
    font-size: 14px;
    letter-spacing: 0.02em;
    border: 1px solid #fff;
} 